---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getPosts } from "@/lib/get-posts";
import { getTags } from "@/lib/get-tags";
import { formatSlug } from "@/utils/format-slug";

export async function getStaticPaths() {
  const allPosts = await getPosts();
  const tags = getTags(allPosts);

  return tags.map((tag) => {
    const posts = allPosts.filter((post) => post.data.tags.includes(tag));
    return { params: { tag }, props: { posts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<LayoutDefault>
  <Container>
    <main>
      <h1>Tag - {tag}</h1>
      <h2>Relevant</h2>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={formatSlug(post.data.publishedDate, post.slug)}>
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</LayoutDefault>
