---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";

export async function getStaticPaths() {
  return [
    { params: { tag: "a" } },
    { params: { tag: "b" } },
    { params: { tag: "c" } },
  ];
}

const { tag } = Astro.params;
const pageTitle = `แท็ก - ${tag}`;
---

<LayoutDefault pageTitle={pageTitle}>
  <Container>
    <main class="my-4">
      <h1>{pageTitle}</h1>
    </main>
  </Container>
</LayoutDefault>
