---
import Container from "@/components/container.astro";
import LayoutDefalt from "@/layouts/layout-defalt.astro";

const pageTitle = "แท็ก";
---

<LayoutDefalt pageTitle={pageTitle}>
  <Container>
    <main class="my-4">
      <h1>{pageTitle}</h1>
    </main>
  </Container>
</LayoutDefalt>
