---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getPosts } from "@/lib/get-posts";
import { getTags } from "@/lib/get-tags";

const posts = await getPosts();
const tags = getTags(posts);
---

<LayoutDefault>
  <Container>
    <main>
      <h1>Tags</h1>
      <ul>
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</LayoutDefault>
