---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getPosts } from "@/lib/get-posts";
import { formatPostSlugPath } from "@/utils/format-post-slug-path";

import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getPosts();
  const slug = formatPostSlugPath(post.data.publishedDate, post.slug);

  return posts.map((post) => ({
    params: { slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<LayoutDefault pageTitle={post.data.title}>
  <Container>
    <article class="my-4">
      <h1>{post.data.title}</h1>
      <div class="prose mt-8 max-w-none">
        <Content />
      </div>
    </article>
  </Container>
</LayoutDefault>
