---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getPosts } from "@/lib/get-posts";
import { formatSlug } from "@/utils/format-slug";

import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => {
    const slug = formatSlug(post.data.publishedDate, post.slug);

    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<LayoutDefault>
  <Container>
    <article>
      <h1>{post.data.title}</h1>
      <div class="prose mt-8 max-w-none">
        <Content />
      </div>
    </article>

    <section>
      <h2>
        <a href="/tags">Tag</a>
      </h2>
      <ul>
        {
          post.data.tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </Container>
</LayoutDefault>
