---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getPosts } from "@/lib/get-posts";
import { formatPostSlugPath } from "@/utils/format-post-slug-path";

const posts = await getPosts();

const pageTitle = "บทความ";
---

<LayoutDefault pageTitle={pageTitle} pageDescription="">
  <Container>
    <main>
      <h1>{pageTitle}</h1>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={formatPostSlugPath(post.data.publishedDate, post.slug)}>
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</LayoutDefault>
