---
import LayoutRoot from "../layouts/LayoutRoot.astro";
---

<LayoutRoot pageTitle="หน้าแรก">
  <main
    class="flex h-screen w-screen flex-col items-center justify-center gap-5"
  >
    <h1 class="text-6xl">ปิดปรับปรุงชั่วคราว</h1>
    <p class="text-3xl">
      เว็บไซต์กำลังอยู่ระหว่างการพัฒนาครับ แล้วเจอกันเร็วๆนี้ ☺️
    </p>
  </main>
</LayoutRoot>
