---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";

const pageTitle = "หน้าแรก";
---

<LayoutDefault pageTitle={pageTitle}>
  <Container>
    <main class="py-4">
      <h1>{pageTitle}</h1>
    </main>
  </Container>
</LayoutDefault>
