---
import LayoutRoot from "../layouts/LayoutRoot.astro";
---

<LayoutRoot pageTitle="หน้าแรก">
  <h1 lang="en">This website is under construction</h1>
  <p>เว็บไซต์กำลังอยู่ในขั้นตอนการพัฒนาอยู่ครับ แล้วพบกันเร็วๆนี้</p>
</LayoutRoot>
