---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
---

<LayoutDefault>
  <Container>
    <main>
      <h1>Projects</h1>
    </main>
  </Container>
</LayoutDefault>
