---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";

const pageTitle = "ผลงาน";
---

<LayoutDefault pageTitle={pageTitle} pageDescription="">
  <Container>
    <main>
      <h1>{pageTitle}</h1>
    </main>
  </Container>
</LayoutDefault>
