---
import Container from "@/components/container.astro";
import LayoutDefault from "@/layouts/layout-default.astro";
import { getTags } from "@/lib/get-tags";

const tags = await getTags();
const pageTitle = "แท็กทั้งหมด";
---

<LayoutDefault pageTitle={pageTitle} pageDescription="">
  <Container>
    <main>
      <h1>{pageTitle}</h1>
      <ul>
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</LayoutDefault>
