---
import Container from "@/components/container.astro";
import NavigationMenu from "@/components/navigation-menu.astro";

import { menuItems } from "@/config/menus";
---

<nav>
  <Container>
    <NavigationMenu menuItems={menuItems} />
  </Container>
</nav>
