---

---

<nav class="flex justify-end py-4">
  <ul class="flex gap-4">
    <li>
      <a href="/">หน้าแรก</a>
    </li>
    <li>
      <a href="/">บทความ</a>
    </li>
    <li>
      <a href="/works">ผลงานของฉัน</a>
    </li>
    <li>
      <a href="/about">เกี่ยวกับฉัน</a>
    </li>
  </ul>
</nav>
