---
const routes = [
  { name: "หน้าแรก", url: "/" },
  { name: "บทความ", url: "/blog" },
  { name: "ผลงาน", url: "/works" },
  { name: "เกี่ยวกับฉัน", url: "/about" },
];
---

<nav class="flex justify-end py-4">
  <ul class="flex gap-4">
    {
      routes.map(({ name, url }) => (
        <li>
          <a href={url}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>
