---
export const menuItems = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Blog",
    url: "/blog",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "About",
    url: "/about",
  },
];
---

<ul>
  {
    menuItems.map(({ name, url }) => (
      <li>
        <a href={url}>{name}</a>
      </li>
    ))
  }
</ul>
