---

---

<nav>
  <ul>
    <li>
      <a href="/">หน้าแรก</a>
    </li>
    <li>
      <a href="/">บทความ</a>
    </li>
    <li>
      <a href="/">ผลงาน</a>
    </li>
    <li>
      <a href="/">เกี่ยวกับฉัน</a>
    </li>
  </ul>
</nav>
