---
import { ViewTransitions } from "astro:transitions";

import NavigationBar from "@/components/navigation-bar.astro";
import "@/config/fonts";

export interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
const menuItems = [
  { name: "หน้าแรก", url: "/" },
  { name: "บทความ", url: "/blog" },
  { name: "ผลงาน", url: "/works" },
  { name: "เกี่ยวกับฉัน", url: "/about" },
];
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle} | Yutna</title>
    <meta name="description" content={pageDescription} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
  </head>
  <body>
    <NavigationBar menuItems={menuItems} />
    <slot />
  </body>
</html>
