---
import "@fontsource/kanit";
import "@fontsource-variable/noto-sans-mono";
import "@fontsource-variable/public-sans";

import "../styles/global.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} | Yutna</title>
  </head>
  <body>
    <slot />
  </body>
</html>
