---
import { ViewTransitions } from "astro:transitions";

import Maintenance from "@/components/maintenance.astro";

import { IS_MAINTENANCE_MODE } from "@/config/env";
import "@/config/fonts";

export interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} | Yutna</title>
    <ViewTransitions />
  </head>
  <body class="bg-neutral-50">
    {IS_MAINTENANCE_MODE ? <Maintenance /> : <slot />}
  </body>
</html>
