---
import "@fontsource-variable/public-sans";
import "@fontsource-variable/public-sans/wght-italic.css";
import { ViewTransitions } from "astro:transitions";

import Head from "@/components/head.astro";
import Maintenance from "@/components/maintenance.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
    <ViewTransitions />
  </head>
  <body class="bg-neutral-50">
    <Maintenance />
  </body>
</html>
