---
import "@/config/fonts";

import { ViewTransitions } from "astro:transitions";
import Maintenance from "@/components/maintenance.astro";

export interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const isMaintenanceMode = false;
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} | Yutna</title>
    <ViewTransitions />
  </head>
  <body>
    {isMaintenanceMode ? <Maintenance /> : <slot />}
  </body>
</html>
